@use "../../../assets/styles/mixins" as *;

// RESET FORM
.reset_form {
    display: grid;
    gap: 2em;
    margin-block: var(--half-section-margin-block);
    padding: 1.5em 1.75em;
    max-width: var(--half-page-max-width);
    border-radius: var(--double-border-radius);
    background-color: var(--secondary-bg-clr);
    @include s {
        button {
            justify-self: center;
        }
    }
}