@use "../../assets/styles/mixins" as *;

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        var(--primary-bg-clr),
        var(--secondary-bg-clr) 10%
    );
}

.footer_nav {
    display: grid;
    place-items: center;
    width: fit-content;
    margin-top: var(--section-margin-block);
    margin-bottom: calc((var(--section-margin-block) / 3) * 2);
    &_logo {
        position: relative;
        max-width: var(--logo-max-width);
        margin-bottom: 2em;
        -webkit-tap-highlight-color: transparent;
        &_text {
            width: 100%;
            fill: var(--_txt-clr);
        }
        &_dice {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            fill: var(--_accent-clr);
            transition: filter 300ms ease-in-out;
        }
        @include hover {
            .footer_nav_logo_dice {
                filter: drop-shadow(0 0 var(--drop-shadow-blur) var(--_accent-clr));
            }
        }
    }
    &_content {
        text-align: center;
        &_links {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -.25em;
                    left: 0;
                    height: 2px;
                    background-color: var(--_accent-clr);
                    border-radius: 100vw;
                    filter: drop-shadow(0 0 var(--drop-shadow-blur) var(--_accent-clr));
                }
                &.active::after {
                    width: 100%;
                }
                &:not(.active) {
                    &::after {
                        width: 0;
                        transition: width 300ms ease;
                    }
                    @include hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
            li:not(:last-child) {
                margin-bottom: 1em;
            }
            li:last-child {
                margin-bottom: 0.5em;
            }
        }
        &_socials {
            display: flex;
            justify-content: center;
            > * + * {
                margin-left: 1em;
            }
            a {
                margin-top: 0.5em;
                padding: 0.5em;
                opacity: var(--half-opacity);
                transition: opacity 200ms ease;
                -webkit-tap-highlight-color: transparent;
                @include hover {
                    opacity: 1;
                }
            }
            svg {
                width: 100%;
                max-height: var(--socials-max-width);
            }
        }
    }
    @include sm {
        grid-template-columns: auto auto;
        &_logo {
            margin-right: 3em;
        }
    }
}
