:root {
    // Font-Family
    --title-ff: "Archivo Black", sans-serif;
    --corpus-ff: "Inter", sans-serif;

    // Font-Weight
    --nav-link-fw: 600;
    --body-fw: 400;
    --legend-fw: 200;

    // Font-Size
    --hero-title-fs-300: 1.75rem;
    --hero-title-fs-400: 3rem;
    --hero-title-fs-500: 3.375rem;
    --fs-100: 0.625rem;
    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.375rem;
    --fs-700: 1.5rem;
    --fs-800: 1.75rem;
    --fs-900: 2rem;
    --nav-fs: clamp(1.125rem, calc(0.25vw + 1rem), 1.5rem);
    --hero-title-fs: clamp(1.75rem, calc(1.5vw + 1.5rem), 3.375rem);
    --title-fs: clamp(1.125rem, calc(1vw + 1rem), 2rem);
    --corpus-fs: clamp(0.875rem, calc(0.25vw + 0.875rem), 1.125rem);
    --legend-fs: clamp(0.625rem, calc(0.25vw + 0.5rem), 0.875rem);

    // Colors
    --primary-bg-clr: hsl(216 100% 6%);
    --primary-bg-values: 216 100% 6%;
    --secondary-bg-clr: hsl(216 65% 15%);
    --secondary-bg-values: 216 65% 15%;
    --fantasy-accent-clr: hsl(24 100% 60%);
    --fantasy-accent-values: 24 100% 60%;
    --fantasy-txt-clr: hsl(25 100% 98%);
    --fantasy-txt-values: 25 100% 98%;
    --scifi-accent-clr: hsl(295 100% 60%);
    --scifi-accent-values: 295 100% 60%;
    --scifi-txt-clr: hsl(295 100% 98%);
    --scifi-txt-values: 295 100% 98%;
    --horror-accent-clr: hsl(155 100% 60%);
    --horror-accent-values: 155 100% 60%;
    --horror-txt-clr: hsl(155 100% 98%);
    --horror-txt-values: 155 100% 98%;
    --alpha: 0.7;
    --half-alpha: calc(var(--alpha) / 2);

    // Margin & Padding
    --page-width-margin: 4em;
    --section-margin-block: 5em;
    --half-section-margin-block: calc(var(--section-margin-block) / 2);
    --nav-links-padding-block: 1em;
    --input-padding-block: 0.5em;
    --input-padding-inline: 0.75em;

    // Miscellaneous
    --page-max-width: 100rem;
    --half-page-max-width: calc(var(--page-max-width) / 2);
    --logo-max-width: 8rem;
    --socials-max-width: 1.75rem;
    --corpus-primary-max-width: 60ch;
    --drop-shadow-blur: 0.25em;
    --border-radius: 0.25em;
    --double-border-radius: calc(var(--border-radius) * 2);
    --half-opacity: 0.5;
    --title-line-height: 1.2;
    --corpus-line-height: 1.5;
}
