@use "../../assets//styles/mixins" as *;

.new_room {
    display: grid;
    gap: 2em;
    margin-block: var(--section-margin-block);
    max-width: var(--half-page-max-width);
    border-radius: var(--double-border-radius);
    background-color: var(--secondary-bg-clr);
    padding: 1em 1.5em;
    h2 {
        justify-self: center;
    }
    &_form {
        display: grid;
        gap: 2em;
        textarea {
            width: 100%;
            resize: none;
            border: 1px solid var(--_txt-clr);
            border-radius: var(--border-radius);
            background-color: var(--primary-bg-clr);
            line-height: 1.5;
            &:valid + span {
                top: calc(-0.5em - var(--_input-padding-block));
                scale: 0.9;
            }
        }
        &_room {
            display: grid;
            gap: 1em;
            margin-inline: auto;
            padding: 1em;
            width: fit-content;
            border: 1px solid hsl(var(--_txt-values) / var(--half-alpha));
            border-radius: var(--double-border-radius);
            &_levels_ttrpg {
                border: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: var(--input-padding-block);
                label {
                    display: grid;
                    cursor: pointer;
                    > * {
                        grid-area: 1 / 1;
                    }
                    span {
                        padding: var(--input-padding-block)
                            var(--input-padding-inline);
                        background-color: var(--primary-bg-clr);
                        border-radius: var(--border-radius);
                        transition: background-color 100ms ease,
                            color 100ms ease;
                    }
                    input:checked + span {
                        background-color: var(--fantasy-txt-clr);
                        color: var(--primary-bg-clr);
                    }
                    input:not(:checked) + span {
                        @include hover {
                            background-color: var(--fantasy-txt-clr);
                            color: var(--primary-bg-clr);
                        }
                    }
                    input {
                        appearance: none;
                        block-size: 100%;
                        inline-size: 100%;
                    }
                }
            }
        }
        button {
            justify-self: center;
        }
    }
}
